<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!--AUTO COMPLETE FEATURE-->
  <input class="form-control col-lg-4 col-lg-offset-4 mt-3 mb-3 mx-auto" type="text" name="filter"
    placeholder="Auto complete feature" (keyup)="setFilterBy($event)" />




  <!--TABLE WITH CONTENT-->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Age</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users | filter: filterBy | order: orderBy">
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.phone }}</td>
      </tr>
    </tbody>
  </table>

  <!--SELECT PIPE-->
  <select class="form-control col-lg-4 col-lg-offset-4 mt-3 mx-auto" (change)="onChange($event.target.value)">
    <option value="0">Select</option>
    <option value="1">Name</option>
    <option value="2">Age</option>
  </select>

  <!--BUTTON ADD USER-->
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-primary btn-lg mt-3 col-lg-4" routerLink="/user" type="submit">
          <span>Add User!</span>
        </button>
      </div>
    </div>
  </div>


</body>



</html>